{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ thread.title }}</title>
    <link rel="stylesheet"
          href="{% static 'threads/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'threads/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'threads/assets/css/styles.css' %}">
</head>

<body class="bg-dark">
<nav class="navbar navbar-dark navbar-expand-md sticky-top py-3"
     style="background: #1f1f1f;">
    <div class="container"><a class="navbar-brand d-flex align-items-center"
                              href="{% url 'market:index' %}"><span
            class="fs-5 fw-bold">ITPONIC</span></a>
        <button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navcol-4"><span
                class="visually-hidden">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse flex-grow-0 order-md-first"
             id="navcol-4">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link active"
                                        href="{% url 'market:index' %}">Главная</a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href="{% url 'market:market' %}">Маркет</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Сообщество</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <div class="d-md-none my-2"><a
                        href="{% url 'cabinet:profile' request.user.pk %}"
                        class="btn btn-light me-2" type="button">Профиль</a><a
                        href="{% url 'account_logout' %}" class="btn btn-danger"
                        type="button">Выйти</a></div>
                </div>
                <div class="d-none d-md-block"><a
                        href="{% url 'cabinet:profile' request.user.pk %}"
                        class="btn btn-light me-2" type="button">Профиль</a><a
                        href="{% url 'account_logout' %}" class="btn btn-danger"
                        role="button">Выйти</a></div>
            {% else %}
                <div class="d-md-none my-2"><a href="{% url 'account_signup' %}"
                                               class="btn btn-light me-2"
                                               type="button">Зарегистрироваться</a><a
                        href="{% url 'account_login' %}"
                        class="btn btn-primary"
                        type="button">Войти</a></div>
                </div>
                <div class="d-none d-md-block"><a
                        href="{% url 'account_signup' %}"
                        class="btn btn-light me-2"
                        type="button">Зарегистрироваться</a><a
                        class="btn btn-primary"
                        role="button"
                        href="{% url 'account_login' %}">Войти</a>
                </div>
            {% endif %}
</nav>
<div class="text-light" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col"
                 style="background: #1f1f1f;border-radius: 10px;padding: 20px;padding-left: 30px;">
                <div style="background: #1f1f1f;border-radius: 10px;">
                    <h4>{{ thread.title }}</h4>
                    <p class="text-muted">Тема создана пользователем <a
                            href="{% url 'cabinet:profile' thread.user.pk %}">{{ thread.user }}</a>
                        в
                        разделе Веб-программирование <span
                                style="color: rgb(49,140,231);">{{ thread.created_at | naturalday }}</span>
                        <span style="color: rgb(25,135,84);">{{ thread.views }}
                            просмотров</span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"
                 style="margin-top: 20px;background: #1f1f1f;border-radius: 10px;padding: 20px;padding-left: 30px;">
                <div>
                    <p class="text-danger" style="margin-left: 10px;"><i
                            class="fa fa-warning"
                            style="margin-right: 7px;"></i>Пожаловаться на тему
                    </p>
                    <hr>
                </div>
                <div>
                    <div><img class="d-inline-block"
                              src="../../media/{{ thread.user.avatar }}"
                              style="border-radius: 40px;" width="60px">
                        <div class="d-inline-block" style="margin-left: 13px;">
                            <p class="d-inline-block"><a
                                    style="text-decoration: none;color: white;font-size: 18px;"
                                    href="{% url 'cabinet:profile' thread.user.pk %}">{{ thread.user }}</a>
                            </p>
                            <p class="text-muted d-inline-block"
                               style="margin-left: 15px;">
                                {% if thread.user.reputation < 5 %}
                                    Новичок{% elif thread.user.reputation < 10 %}
                                    Мастер{% elif thread.user.reputation > 20 %}
                                    Легенда{% endif %}</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p style="margin-top: 16px;text-align: justify;padding-right: 20px;color: rgb(155,155,155);">
                        {{ thread.text }}</p>
                    <div class="screen" style="text-align:center;">
                        <img src="../../media/{{ thread.screen }}"
                             style="text-align: center;" alt="">
                    </div>

                </div>
                <hr style="margin-top: 30px;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"
                 style="margin-top: 20px;background: #1f1f1f;border-radius: 10px;padding: 20px;padding-left: 30px;">
                <h5>Ответы</h5>
                {% for comment in comments %}
                    <div style="padding: 30px;">
                        <div style="margin-bottom: 20px;"><img
                                class="d-inline-block"
                                src="../../media/{{ comment.sender.avatar }}"
                                width="50" style="border-radius: 30px;">
                            <p class="d-inline-block"
                               style="margin-left: 10px;font-size: 16px;margin-bottom: 4px;">
                                {{ comment.sender.username }}
                            {% if comment.sender == thread.user %}
                                <span class="text-danger" style="margin-left: 20px;">Автор темы</span>
                            {% endif %}
                            </p>
                            <p class="text-muted d-inline-block float-end">
                                {{ comment.created_at | naturaltime }}</p>
                            <p class="text-start">{{ comment.comment }}</p>
                        </div>
                        <p class="text-muted d-inline-block"
                           style="margin-right: 20px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                 height="1em" fill="currentColor"
                                 viewBox="0 0 16 16" class="bi bi-heart"
                                 style="margin-right: 10px;">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                            </svg>
                            Мне нравится!
                        </p>
                    </div>
                {% endfor %}
                <form action="{% url 'threads:thread' thread.pk %}"
                      method="post">
                    {% csrf_token %}
                    <div class="send-new-reply">
                        <div class="reply" style="width: 60%;">
                            {{ form.comment }}
                        </div>
                        <div class="send">
                            <button type="submit" class='send-button-cls'>
                                Отправить
                            </button>
                        </div>
                </form>
                <style>
                    .send-new-reply {
                        text-align: center;
                    }

                    .send, .reply {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .send-button-cls {
                        height: 50px;
                        background: rgb(25, 135, 84);
                        color: white;
                        border: none;
                        padding: 0 20px;
                    }

                    .reply-input-cls:focus {
                        outline: 2px solid #3f3f3f;
                    }

                    .reply-input-cls {
                        color: white;
                        width: 100%;
                        height: 50px;
                        border: none;
                        padding-left: 20px;
                        background-color: #2f2f2f;
                    }
                </style>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{% static 'threads/assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>