{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Маркет</title>
    <link rel="stylesheet" href="{% static 'market/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'market/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'market/assets/css/styles.css' %}">
</head>

<body class="bg-dark">
<nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" style="background: #1f1f1f;">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="{% url 'market:index' %}"><span
            class="fs-5 fw-bold">ITPONIC</span></a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-4"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-4">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link active" href="{% url 'market:index' %}">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'market:market' %}">Маркет</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Сообщество</a></li>
            </ul>
            {% if user.is_authenticated %}
                <div class="d-md-none my-2"><a href="{% url 'cabinet:profile' user.pk %}" class="btn btn-light me-2"
                                               type="button">Профиль</a><a href="{% url 'account_logout' %}"
                                                                           class="btn btn-danger"
                                                                           type="button">Выйти</a></div>
                </div>
                <div class="d-none d-md-block"><a href="{% url 'cabinet:profile' user.pk %}" class="btn btn-light me-2"
                                                  type="button">Профиль</a><a href="{% url 'account_logout' %}"
                                                                              class="btn btn-danger"
                                                                              role="button">Выйти</a></div>
            {% else %}
                <div class="d-md-none my-2"><a href="{% url 'account_signup' %}" class="btn btn-light me-2"
                                               type="button">Зарегистрироваться</a><a href="{% url 'account_login' %}"
                                                                                      class="btn btn-primary"
                                                                                      type="button">Войти</a></div>
                </div>
                <div class="d-none d-md-block"><a href="{% url 'account_signup' %}" class="btn btn-light me-2"
                                                  type="button">Зарегистрироваться</a><a class="btn btn-primary"
                                                                                         role="button"
                                                                                         href="{% url 'account_login' %}">Войти</a>
                </div>
            {% endif %}
</nav>
<div class="container" style="margin-top: 75px;">
    <div class="row">
        <div class="col-md-6 col-xxl-3 offset-xxl-0"
             style="background: #1f1f1f;padding: 30px;border-radius: 20px;height: 100%;">
            <a href="{% url 'threads:new_thread' %}" class="btn btn-danger" type="button" style="width: 100%;margin-bottom: 30px;">Создать тему</a>
            <h5 class="text-light">Основное</h5>
            <a href="{% url 'threads:category' 8 %}" class="text-light d-block" style="margin-left: 20px;margin-bottom: 10px;text-decoration:none;">Торговля</a>
            <a href="{% url 'threads:category' 9 %}" class="text-light d-block" style="margin-left: 20px;margin-bottom: 10px;text-decoration:none;">Работа
                и услуги</a>
            <a href="{% url 'threads:category' 10 %}" class="text-light d-block" style="margin-left: 20px;margin-bottom: 10px;text-decoration:none;">Арбитражи</a>
            <h5 class="text-light">Тематическое</h5>
            <a href="{% url 'threads:category' 11 %}" class="text-light d-block" style="margin-left: 20px;margin-bottom: 10px;text-decoration:none;">Статьи</a>
            <a href="{% url 'threads:category' 12 %}" class="text-light d-block" style="margin-left: 20px;margin-bottom: 10px;text-decoration:none;">ChatGPT</a>
            <a href="{% url 'threads:category' 13 %}" class="text-light d-block" style="margin-left: 20px;margin-bottom: 10px;text-decoration:none;">Софт</a>
            <a href="{% url 'threads:category' 14 %}" class="text-light d-block" style="margin-left: 20px;margin-bottom: 10px;text-decoration:none;">Тематические
                вопросы</a>
            <h5 class="text-light">Общий раздел</h5>
            <a href="{% url 'threads:category' 15 %}" class="text-light d-block" style="margin-left: 20px;margin-bottom: 10px;text-decoration:none;">Компьютеры</a>
            <a href="{% url 'threads:category' 16 %}" class="text-light d-block" style="margin-left: 20px;margin-bottom: 10px;text-decoration:none;">Телефоны</a>
            <a href="{% url 'threads:category' 17 %}" class="text-light d-block" style="margin-left: 20px;margin-bottom: 10px;text-decoration:none;">Программирование</a>
            <a href="{% url 'threads:category' 18 %}" class="text-light d-block" style="margin-left: 20px;margin-bottom: 10px;text-decoration:none;">Веб-разработка</a>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="background: #111111; color: white;padding: 30px;border-radius: 10px;">
                    <div class="closeBtn" style="text-align: right;padding-right: 20px;">
                        <button id="closeModalBtn" class="btn btn-danger">Закрыть</button>
                    </div>
                    <form action="{% url 'market:market' %}" method="post">
                        {% csrf_token %}
                        {{ sell.as_p }}
                        <button type="submit" style="width: 100%;margin-top: 20px;" class="btn btn-success">Продать
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <style>
            ul.errorlist {
                display: none;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#openModalBtn").click(function () {
                    $("#myModal").modal("show");
                });
                $("#closeModalBtn").click(function () {
                    $("#myModal").modal("hide");
                });
            });
        </script>

        <div class="col-md-6 col-xxl-8 offset-xxl-1 pulse animated"
             style="background: #1f1f1f;padding: 30px;border-radius: 20px;padding-left: 50px;">
            <h3 class="text-muted">Маркет</h3>
            <p class="text-muted">Раздел форума, позволяющий пользователям выставлять свои аккаунты на продажу. Обратите
                внимание, что выкладывать объявления могут только зарегистрированные пользователи, оплатившие данную
                возможность.&nbsp;<br><br>Если возникли проблемы с аккаунтом, создайте арбитраж с подробным описанием
                проблемы.</p>
            {% if messages %}
                {% for message in messages %}
                    <div class="{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <style>
                .success {
                    background: rgb(25, 134, 83);
                    color: white;
                    border-radius: 10px;
                    padding-left: 20px;
                    height: 50px;
                    display: flex;
                    margin-bottom: 20px;
                    align-items: center;
                }

                .error {
                    background: rgb(220, 53, 69);
                    color: white;
                    border-radius: 10px;
                    padding-left: 20px;
                    height: 50px;
                    display: flex;
                    margin-bottom: 20px;
                    align-items: center;
                }
            </style>
            <div class="row">
                <div class="col">
                    <form action="{% url 'market:market' %}" method="post">
                        {% csrf_token %}
                        <h5 class="text-muted">Фильтры поиска</h5>
                        <div class="search_for_title">
                            {{ form.title }}
                        </div>
                        <div class="price_filter" style="margin-top: 20px;">
                            <h5 class="text-muted">Цена</h5>
                            <div class="price-block-filter">
                                {{ form.min_price }}
                                {{ form.max_price }}
                                <span class="text-muted">RUB</span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success"
                                style="display: block;margin-top: 15px;width: 100%;height: 45px;">Применить
                        </button>
                    </form>
                </div>
            </div>
            {% if products %}
                <div class="card text-light"
                 style="margin-top: 50px;border-style: none;border-radius: 20px;background: rgb(31,31,31);"
                 id="item-list">
                {% for product in products %}
                    <a href="{% url 'market:item' product.pk %}" style="text-decoration: none; color: white;">
                        <div class="card-body bg-dark border-0 d-block"
                             style="border-style: none;border-radius: 20px;margin-bottom: 20px;">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <h6 class="text-muted card-subtitle mb-2" style="color: white;">{{ product.price }} RUB</h6>
                            <a class="text-center d-inline-block card-link" href="#"
                               style="border-style: none;width: 100px;height: 30px;background: #2d2d2d;border-radius: 10px;color: rgb(152,152,152);margin-top: 10px;">{{ product.country }}</a>
                            <a class="text-center d-inline-block card-link" href="#"
                               style="border-style: none;width: 100px;height: 30px;background: #2d2d2d;border-radius: 10px;color: rgb(152,152,152);margin-top: 10px;">{{ product.skins }}
                                Скина</a>
                            <a class="text-center d-inline-block card-link" href="#"
                               style="border-style: none;width: 100px;height: 30px;background: #2d2d2d;border-radius: 10px;color: rgb(152,152,152);margin-top: 10px;">{{ product.mail }}</a>
                            <a class="text-center d-inline-block card-link" href="#"
                               style="border-style: none;width: 100px;height: 30px;background: #2d2d2d;border-radius: 10px;color: rgb(152,152,152);margin-top: 10px;">{{ product.phone }}</a>
                        </div>
                    </a>
                {% endfor %}
            </div>
            {% else %}
            <div class="card text-light"
                 style="margin-top: 50px;border-style: none;border-radius: 20px;background: rgb(31,31,31);"
                 id="item-list">
                {% for item in items %}
                    <a href="{% url 'market:item' item.pk %}" style="text-decoration: none; color: white;">
                        <div class="card-body bg-dark border-0 d-block"
                             style="border-style: none;border-radius: 20px;margin-bottom: 20px;">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <h6 class="text-muted card-subtitle mb-2" style="color: white;">{{ item.price }} RUB</h6>
                            <a class="text-center d-inline-block card-link" href="#"
                               style="border-style: none;width: 100px;height: 30px;background: #2d2d2d;border-radius: 10px;color: rgb(152,152,152);margin-top: 10px;">{{ item.country }}</a>
                            <a class="text-center d-inline-block card-link" href="#"
                               style="border-style: none;width: 100px;height: 30px;background: #2d2d2d;border-radius: 10px;color: rgb(152,152,152);margin-top: 10px;">{{ item.skins }} Скина</a>
                            <a class="text-center d-inline-block card-link" href="#"
                               style="border-style: none;width: 100px;height: 30px;background: #2d2d2d;border-radius: 10px;color: rgb(152,152,152);margin-top: 10px;">{{ item.mail }}</a>
                            <a class="text-center d-inline-block card-link" href="#"
                               style="border-style: none;width: 100px;height: 30px;background: #2d2d2d;border-radius: 10px;color: rgb(152,152,152);margin-top: 10px;">{{ item.phone }}</a>
                        </div>
                    </a>
                {% endfor %}
            </div>
            {% endif %}
            {% if no_results_message %}
                <h4 style="text-align: center;color: #989898;margin-top: 30px;">{{ no_results_message }}</h4>
            {% endif %}
        </div>
    </div>
</div>
<style>
    input:focus {
        outline: #2c2c2c solid 3px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'market/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'market/assets/js/bs-init.js' %}"></script>
</body>

</html>