{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Профиль</title>
    <link rel="stylesheet" href="{% static 'cabinet/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'cabinet/assets/css/styles.css' %}">
</head>

<body class="bg-dark" style="color: rgb(255,255,255);">
<nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" style="background: #1f1f1f;">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="{% url 'market:index' %}"><span
            class="fs-5 fw-bold">ITPONIC</span></a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-4"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-4">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link active" href="{% url 'market:index' %}">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'market:market' %}">Маркет</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Сообщество</a></li>
            </ul>
            {% if user.is_authenticated %}
                <div class="d-md-none my-2"><a href="{% url 'cabinet:profile' request.user.pk %}"
                                               class="btn btn-light me-2" type="button">Профиль</a><a
                        href="{% url 'account_logout' %}" class="btn btn-danger" type="button">Выйти</a></div>
                </div>
                <div class="d-none d-md-block"><a href="{% url 'cabinet:profile' request.user.pk %}"
                                                  class="btn btn-light me-2" type="button">Профиль</a><a
                        href="{% url 'account_logout' %}" class="btn btn-danger" role="button">Выйти</a></div>
            {% else %}
                <div class="d-md-none my-2"><a href="{% url 'account_signup' %}" class="btn btn-light me-2"
                                               type="button">Зарегистрироваться</a><a href="{% url 'account_login' %}"
                                                                                      class="btn btn-primary"
                                                                                      type="button">Войти</a></div>
                </div>
                <div class="d-none d-md-block"><a href="{% url 'account_signup' %}" class="btn btn-light me-2"
                                                  type="button">Зарегистрироваться</a><a class="btn btn-primary"
                                                                                         role="button"
                                                                                         href="{% url 'account_login' %}">Войти</a>
                </div>
            {% endif %}
</nav>
<div class="container" style="margin-top: 75px;">
    <div class="row">
        <div class="col-md-6 col-xxl-3 offset-xxl-0"
             style="background: #1f1f1f;border-radius: 25px;padding-top: 15px;margin-bottom: 20px;text-align: center">
            <div>
                <img src="../../media/{{ user.avatar }}" style="width: 300px;padding: 15px;height: 300px;">
            </div>
            {% if request.user == user %}
                <a href="{% url 'cabinet:settings' %}">
                    <button class="btn btn-dark text-center d-block d-xxl-flex mx-auto justify-content-xxl-center"
                            type="button" style="width: 80%;margin-top: 7%;border-style: none;margin-bottom: 20px;">
                        Редактировать
                    </button>
                </a>
            {% else %}
                <form action="{% url 'cabinet:profile' pk=user.pk %}" method="post">
                    {% csrf_token %}
                    {% if not subscribe %}
                        <button name='subscribed'
                                class="btn btn-danger text-center d-block d-xxl-flex mx-auto justify-content-xxl-center"
                                type="submit" style="width: 80%;margin-top: 7%;border-style: none;margin-bottom: 20px;">
                            Подписаться
                        </button>
                    {% endif %}
                </form>
                <form action="{% url 'cabinet:profile' pk=user.pk %}" method="post">
                    {% csrf_token %}
                    {% if subscribe %}
                        <button name='subscribed'
                                class="btn btn-dark text-center d-block d-xxl-flex mx-auto justify-content-xxl-center"
                                type="submit" style="width: 80%;margin-top: 7%;border-style: none;margin-bottom: 20px;">
                            Вы подписаны
                        </button>
                    {% endif %}
                </form>
                <button name='message'
                                class="btn btn-danger text-center d-block d-xxl-flex mx-auto justify-content-xxl-center"
                                type="submit" style="width: 80%;margin-top: 7%;border-style: none;margin-bottom: 20px;">
                            Написать сообщение
                        </button>
            {% endif %}
        </div>
        <div class="col-md-6 col-xxl-8 offset-xxl-1 text-light"
             style="padding: 20px;background: #1f1f1f;border-radius: 25px;height: 100%;">
            <div>
                <div style="padding-left: 15px;">
                    <h5 class="d-inline-block">{{user.username}}</h5>
                    <p class="text-muted d-inline-block float-end">{{user.last_login | naturaltime}}</p>
                    <p class="text-muted">{{ user.status }}</p>
                </div>
            </div>
            <hr>
            <p><span class="text-muted">Дата регистрации:&nbsp;</span>{{ user.date_joined }}</p>
            <p><span class="text-muted">Пол:&nbsp;</span>{{ user.gender }}</p>
            <p><span class="text-muted">Discord:&nbsp;</span>{{ user.discord }}</p>
            <p><span class="text-muted">Telegram:&nbsp;</span>{{ user.telegram }}</p>
            <p><span class="text-muted">Steam:&nbsp;</span>{{ user.steam }}</p>
            <p><span class="text-muted">Дата рождения:&nbsp;</span>{{ user.date_birthday }}</p>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 25px;">
    <div class="row">
        <div class="col-md-6 col-xxl-3 text-light"
             style="padding: 20px;background: #1f1f1f;border-radius: 25px;margin-bottom: 20px;height: 100%;">
            <div>
                <h5 class="text-muted">Подписки</h5>
            </div>
            {% for sub in subscribes %}
                <a href="{{ sub.subscribed_to.pk }}">
                    <div style="margin-top: 20px;color: rgb(181,181,181);"><img class="d-inline-block"
                                                                                src="../../media/{{ sub.subscribed_to.avatar }}"
                                                                                style="border-radius: 30px;" width="40">
                        <p class="d-inline-block" style="padding-left: 10px;text-decoration:none;color:grey;">{{ sub.subscribed_to.username }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="col-md-6 col-xxl-8 offset-xxl-1 text-light"
             style="height: 100%;background: #1f1f1f;border-radius: 25px;">
            <div class="text-center" style="height: 100%;padding-top: 20px;">
                <div class="text-center d-inline-block" style="width: 100px;margin: 30px;">
                    <p style="margin-bottom: 5px;">{{ user.reputation }}</p>
                    <p class="text-muted">Репутация</p>
                </div>
                <div class="text-center d-inline-block" style="width: 100px;margin: 30px;">
                    <p style="margin-bottom: 5px;">{{ user.messages }}</p>
                    <p class="text-muted">Сообщений</p>
                </div>
                <div class="text-center d-inline-block" style="width: 100px;margin: 30px;">
                    <p style="margin-bottom: 5px;">{{ user.subscribes }}</p>
                    <p class="text-muted">Подписчиков</p>
                </div>
                <div class="text-center d-inline-block" style="width: 100px;margin: 30px;">
                    <p style="margin-bottom: 5px;">{{ user.product }}</p>
                    <p class="text-muted">Товаров</p>
                </div>
                <div class="text-center d-inline-block" style="width: 100px;margin: 30px;">
                    <p style="margin-bottom: 5px;">{% if user.reputation < 5 %}Новичок{% elif user.reputation < 21%}Опытный{% elif user.reputation > 20 %}Легенда{% endif %}</p>
                    <p class="text-muted">На сайте</p>
                </div>
            </div>
            <hr>
            <form action="{% url 'cabinet:profile' user.pk %}" method="post">
                {% csrf_token %}
                <div style="padding: 30px;margin-bottom: 9px;width: 100%;"><img class="d-inline-block" src="
                    ../../media/{{ user.avatar }}" style="border-radius: 30px;" width="55" height="55">
                    {{ form.text_post }}
                    <button class="btn btn-success btn-sm d-block float-none" type="submit"
                            style="height: 40px;margin-top: 10px;margin-left: 70px;">Опубликовать
                    </button>
            </form>
        </div>
        <hr>
        {% for post in posts %}
            <div style="padding: 30px;">
                <div style="margin-bottom: 20px;"><a href="{% url 'cabinet:profile' post.sender.pk %}"><img class="d-inline-block"
                                                       src="../../media/{{ post.sender.avatar }}"
                                                       width="50" style="border-radius: 30px;"></a>
                    <a href="{% url 'cabinet:profile' post.sender.pk %}" class="d-inline-block text-muted"
                       style="margin-left: 10px;font-size: 16px;margin-bottom: 4px;">{{ post.sender.username }}</a>
                    <p class="text-muted d-inline-block float-end">{{ post.created_at | naturaltime }}</p>
                    <p class="text-start" style="margin-top: 10px;">{{ post.text_post }}</p>
                </div>
                <button class="btn btn-dark text-muted">&#10084; Мне нравится!</button>
                <button class="btn btn-dark text-muted">&#9998; Прокомментировать</button>
            </div>
        {% endfor %}
    </div>
</div>
</div>
<script src="{% static 'cabinet/assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>