{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Настройки профиля</title>
    <link rel="stylesheet" href="{% static 'cabinet/assets/bootstrap/css/bootstrap.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
</head>

<body class="bg-dark">
<nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" style="background: #1f1f1f;">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="{% url 'market:index' %}"><span
            class="fs-5 fw-bold">ITPONIC</span></a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-4"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-4">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link active" href="{% url 'market:index' %}">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'market:market' %}">Маркет</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Сообщество</a></li>
            </ul>
            {% if user.is_authenticated %}
                <div class="d-md-none my-2"><a href="{% url 'cabinet:profile' user.pk %}" class="btn btn-light me-2"
                                               type="button">Профиль</a><a href="{% url 'account_logout' %}"
                                                                           class="btn btn-danger"
                                                                           type="button">Выйти</a></div>
                </div>
                <div class="d-none d-md-block"><a href="{% url 'cabinet:profile' user.pk %}" class="btn btn-light me-2"
                                                  type="button">Профиль</a><a href="{% url 'account_logout' %}"
                                                                              class="btn btn-danger"
                                                                              role="button">Выйти</a></div>
            {% else %}
                <div class="d-md-none my-2"><a href="{% url 'account_signup' %}" class="btn btn-light me-2"
                                               type="button">Зарегистрироваться</a><a href="{% url 'account_login' %}"
                                                                                      class="btn btn-primary"
                                                                                      type="button">Войти</a></div>
                </div>
                <div class="d-none d-md-block"><a href="{% url 'account_signup' %}" class="btn btn-light me-2"
                                                  type="button">Зарегистрироваться</a><a class="btn btn-primary"
                                                                                         role="button"
                                                                                         href="{% url 'account_login' %}">Войти</a>
                </div>
            {% endif %}
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-light" style="margin-top: 30px;background: #1f1f1f;border-radius: 25px;">
            <div style="margin-bottom: 30px;margin-top: 40px;">
                {% for message in messages %}
                    <div class="{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
                <style>
                    .success {
                        background: rgb(25, 134, 83);
                        color: white;
                        width: 80%;
                        border-radius: 10px;
                        padding-left: 20px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        margin: 0 auto 50px;
                    }

                    .error {
                        background: rgb(220, 53, 69);
                        color: white;
                        width: 80%;
                        border-radius: 10px;
                        padding-left: 20px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        margin: 0 auto 50px;
                    }
                </style>
                <p class="text-end d-inline-block" style="width: 15%;">Доступ к маркету</p>
                <a href="{{ url_payment }}" target="_blank">
                    <button class="btn-success btn" style="margin-left: 15px; width: 60%;">Приобрести</button>
                </a>
                <div class="d-xxl-flex m-auto justify-content-xxl-start" style="width: 67%;">
                    <p class="text-start text-muted" style="margin-left: 16px;">Необходим для осуществления операция на
                        маркете</p>
                </div>
            </div>
            <form action="{% url 'cabinet:settings' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div style="margin-bottom: 30px;margin-top: 40px;">
                    <p class="text-end d-inline-block"
                       style="width: 15%;">{{ form.username.label }}&nbsp;</p>{{ form.username }}
                    <div class="d-xxl-flex m-auto justify-content-xxl-start" style="width: 67%;">
                        <p class="text-start text-muted" style="margin-left: 16px;">Является вашим логином для входа</p>
                    </div>
                </div>
                <div style="margin-bottom: 30px;margin-top: 40px;">
                    <p class="text-end d-inline-block"
                       style="width: 15%;">{{ form.status.label }}&nbsp;</p>{{ form.status }}
                    <div class="d-xxl-flex m-auto justify-content-xxl-start" style="width: 67%;">
                        <p class="text-start text-muted" style="margin-left: 16px;">Отображается рядом с вашим ником</p>
                    </div>
                </div>
                <div style="margin-bottom: 30px;margin-top: 40px;">
                    <p class="text-end d-inline-block"
                       style="width: 15%;">{{ form.telegram.label }}&nbsp;</p>{{ form.telegram }}
                    <div class="d-xxl-flex m-auto justify-content-xxl-start" style="width: 67%;">
                        <p class="text-start text-muted" style="margin-left: 16px;">Отображается в профиле</p>
                    </div>
                </div>
                <div style="margin-bottom: 30px;margin-top: 40px;">
                    <p class="text-end d-inline-block"
                       style="width: 15%;">{{ form.discord.label }}&nbsp;</p>{{ form.discord }}
                    <div class="d-xxl-flex m-auto justify-content-xxl-start" style="width: 67%;">
                        <p class="text-start text-muted" style="margin-left: 16px;">Отображается в профиле</p>
                    </div>
                </div>
                <div style="margin-bottom: 30px;margin-top: 40px;">
                    <p class="text-end d-inline-block" style="width: 15%;margin-right: 20px;">{{ form.avatar.label }}&nbsp;</p>{{ form.avatar }}
                    <div class="d-xxl-flex m-auto justify-content-xxl-start" style="width: 67%;">
                        <p class="text-start text-muted" style="margin-left: 16px;">Отображается в профиле</p>
                    </div>
                </div>
                <div style="margin-bottom: 30px;margin-top: 40px;">
                    <style>
                        #cls_gender, .gender_classs {
                            display: inline-block;
                            vertical-align: top;
                        }
                    </style>
                    <p id="cls_gender" class="text-end d-inline-block"
                       style="width: 15%;margin-right: 20px;">{{ form.gender.label }}&nbsp;</p>
                    <div class="gender_classs" class="gender_cls">
                        {{ form.gender }}
                    </div>
                    <div class="d-xxl-flex m-auto justify-content-xxl-start" style="width: 67%;">
                        <p class="text-start text-muted" style="margin-left: 16px;">Отображается в профиле</p>
                    </div>
                </div>

                <div style="margin-bottom: 30px;margin-top: 40px;">
                    <p class="text-end d-inline-block"
                       style="width: 15%;margin-right: 20px;">{{ form.date_birthday.label }}&nbsp;</p>{{ form.date_birthday }}
                    <div class="d-xxl-flex m-auto justify-content-xxl-start" style="width: 67%;">
                        <p class="text-start text-muted" style="margin-left: 16px;">Отображается в профиле</p>
                    </div>
                </div>

                <button type="submit"
                        style="margin-left: 15%;margin-bottom: 30px;width: 50%;height: 50px;border-radius: 10px; border: none; background-color: #34bb80;">
                    Сохранить изменения
                </button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="{% static 'cabinet/assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>