{% extends "cabinet/profile.html" %}
{% load humanize %}

{% block username %}
    {{ user.username }}
{% endblock %}

{% block status %}
    {{ user.status }}
{% endblock %}

{% block telegram %}
    {{ user.telegram }}
{% endblock %}

{% block discord %}
    {{ user.discord }}
{% endblock %}

{% block date_birthday %}
    {{ user.date_birthday }}
{% endblock %}

{% block gender %}
    {{ user.gender }}
{% endblock %}

{% block messages %}
    {{ user.messages }}
{% endblock %}

{% block reputation %}
    {{ user.reputation }}
{% endblock %}

{% block subscribes %}
    {{ user.subscribes }}
{% endblock %}

{% block products %}
    {{ user.product }}
{% endblock %}

{% block last-online %}
    {{ user.last_login | naturaltime }}
{% endblock %}

{% block image_profile %}
    {{ user.avatar.url }}
{% endblock %}

{% block image_profile1 %}
    {{ user.avatar.url }}
{% endblock %}

{% block steam %}
    {{ user.telegram }}
{% endblock %}

{% block registration %}
    {{ user.date_joined | naturalday}}
{% endblock %}

{% block date_joined %}
    {{ user.date_joined | naturaltime }}
{% endblock %}

